<div id="<%= dom_id(comment) %>" class="comment">
  <div class="d-flex align-items-start">
    <%# Avatar %>
    <%= link_to profile_path(comment.user), data: {turbo: false} do  %>
      <%= comment.user.profile_image.attached? ? image_tag(comment.user.profile_image, class: "avatar", alt: "avatar") : image_tag("twitter-bird", class: "avatar", alt: "avatar") %>
    <% end %>

    <%# Tweet body %>
    <div class="ms-2">
      <div class="d-flex justify-content-start align-items-center">
        <span class="tweet-bold me-1"><%= comment.user.name %></span>
        <span class="tweet-grey">@<%= comment.user.username %></span>
        <span class="tweet-grey ms-1">· <%= comment.time_difference %> </span>
      </div>
      <p><%= comment.body %></p>
    </div>
  </div>

  <%# Buttons %>
  <div class="d-flex align-items-center justify-content-between mt-1 px-5" id="comment-actions">
    <%= render "comments/actions", comment: comment %>
  </div>
</div>
