<div id="<%= dom_id(tweet) %>">
  <%# Retweet icon %>
  <div class="retweet d-flex align-items-center ps-4 mb-1">
    <svg viewBox="0 0 24 24" aria-hidden="true" class="r-14j79pv r-4qtqp9 r-yyyyoo r-10ptun7 r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-1janqcz"><g><path d="M4.75 3.79l4.603 4.3-1.706 1.82L6 8.38v7.37c0 .97.784 1.75 1.75 1.75H13V20H7.75c-2.347 0-4.25-1.9-4.25-4.25V8.38L1.853 9.91.147 8.09l4.603-4.3zm11.5 2.71H11V4h5.25c2.347 0 4.25 1.9 4.25 4.25v7.37l1.647-1.53 1.706 1.82-4.603 4.3-4.603-4.3 1.706-1.82L18 15.62V8.25c0-.97-.784-1.75-1.75-1.75z"></path></g></svg>
    <span> <%= tweet.user.name %> Retweeted</span>
  </div>

  <div class="d-flex align-items-start">
    <%# Avatar %>
    <%= link_to profile_path(tweet.tweet.user), data: {turbo: false} do  %>
      <%= tweet.tweet.user.profile_image.attached? ? image_tag(tweet.tweet.user.profile_image, class: "avatar", alt: "avatar") : image_tag("twitter-bird", class: "avatar", alt: "avatar") %>
    <% end %>

    <%# Tweet body %>
    <%= link_to tweet_path(tweet.tweet), data: {turbo: false}, class: "tweet-body" do  %>
      <div class="ms-2">
      <div class="d-flex justify-content-start align-items-center">
        <span class="tweet-bold me-1"><%= tweet.tweet.user.name %></span>
        <span class="tweet-grey">@<%= tweet.tweet.user.username %></span>
        <span class="tweet-grey ms-1">· <%= tweet.tweet.time_difference %> </span>
      </div>
      <%= tweet.tweet.body %>
      </div>
    <% end %>
  </div>
  <%# Buttons %>
  <div class="d-flex align-items-center justify-content-between px-5 mt-1">
  <%= render "shared/tweet_bar", tweet: tweet.tweet %>
  </div>
</div>
