<div id="<%= dom_id(tweet) %>">
  <div class="d-flex align-items-start">
    <%# Avatar %>
    <%= link_to profile_path(tweet.user), data: {turbo: false} do  %>
      <%= tweet.user.profile_image.attached? ? image_tag(tweet.user.profile_image, class: "avatar", alt: "avatar") : image_tag("twitter-bird", class: "avatar", alt: "avatar") %>
    <% end %>

    <%# Tweet body %>
    <div class="ms-2">
      <div class="d-flex justify-content-start align-items-center">
        <span class="tweet-bold me-1"><%= tweet.user.name %></span>
        <span class="tweet-grey">@<%= tweet.user.username %></span>
        <span class="tweet-grey ms-1">· <%= tweet.time_difference %> </span>
      </div>
      <%= tweet.body %>
    </div>
  </div>
  <%# Buttons %>
  <div class="d-flex align-items-center mt-1">
    <%= render "shared/tweet_bar", tweet: tweet %>
  </div>
</div>
