<div class="container-tweet">
  <%# Top with name and back link %>
  <div class="show-top-link d-flex mt-2">
    <%= link_to :back do %>
      <svg viewBox="0 0 24 24" aria-hidden="true" class="btn-back"><g><path d="M7.414 13l5.043 5.04-1.414 1.42L3.586 12l7.457-7.46 1.414 1.42L7.414 11H21v2H7.414z"></path></g></svg>
    <% end %>
    <span class="ms-4">Tweet</span>
  </div>

  <%# Tweet body %>
  <div class="show-tweet pb-3">
    <%# Avatar %>
    <div class=" show-user d-flex align-items-center">
      <%= @tweet.user.profile_image.attached? ? image_tag(@tweet.user.profile_image, class: "avatar", alt: "avatar") : image_tag("twitter-bird", class: "avatar", alt: "avatar") %>
      <div class="ms-2 d-flex flex-column">
        <span class="tweet-bold me-1"><%= @tweet.user.name %></span>
        <span class="tweet-grey">@<%= @tweet.user.username %></span>
      </div>
    </div>

    <p class="mt-3"><%= @tweet.body %></p>

    <%# Tweet details %>
    <span class="show-tweet-time"> <%= @tweet.created_at.strftime("%l:%M %p") %> • <%= @tweet.created_at.strftime("%b %d, %Y") %> </span>
  </div>

  <div class="show-likes pb-3">
    <span class="<%= dom_id(@tweet) %>_likes-size">
      <%= pluralize(@tweet.likes.size, "Like") %>
    </span>
  </div>

  <div class="show-actions d-flex justify-content-evenly align-items-center">
    <%= render "show_actions", tweet: @tweet %>
  </div>

  <%# Reply form %>
  <div class="mt-3">
    <%= render "comments/form", comment: @comment, tweet: @tweet %>
  </div>

  <%# Comments %>
  <%= turbo_frame_tag "#{dom_id(@tweet)}_comments" do %>
    <% @comments.each do |comment| %>
      <%= render "comments/comment", comment: comment %>
    <% end %>
  <% end %>

</div>
