<!DOCTYPE html>
<html>
  <head>
    <title>Tweeter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>


  <body>
    <div class="index container-xl">
      <div class="index row justfy-content-md-center">
        <div class="col-sm-3">
          <div class="column-left">
            <div class="ps-1">
              <%= link_to "/", class: "text-decoration-none text-black" do  %>
              <h5 class="mb-3">Tweeter</h5>
              <% end %>
              <%= render "shared/navbar" %>
              <%= link_to "Tweet", "#", class: "btn-tweet mt-3" %>
            </div>
            <div class="profile-info">
              <% if user_signed_in? %>
                <div class="profile-log d-flex align-items-center">
                  <%= current_user.profile_image.attached? ? image_tag(current_user.profile_image, class: "avatar", alt: "avatar") : image_tag("twitter-bird", class: "avatar", alt: "avatar") %>
                  <div class="ms-2 d-flex flex-column">
                    <span class="tweet-bold me-1"><%= current_user.name %></span>
                    <span class="tweet-grey">@<%= current_user.username %></span>
                  </div>
                </div>
                <%= link_to "Log out", destroy_user_session_path, class: "btn-log", data: { turbo_method: :delete }  %>
              <% else %>
                <%= link_to "Log in", new_user_session_path, class: "btn-log"  %>
                <%= link_to "Sign up", new_user_registration_path, class: "btn-log"  %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <%= yield %>
        </div>
        <div class="col-sm-3">
          <h5>Search</h5>
        </div>
      </div>
    </div>
    <% unless flash[:tweet_errors]  %>
      <%= render "shared/flashes" %>
    <% end %>
  </body>
</html>
