<!DOCTYPE html>
<html>
  <head>
    <title>Tweeter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="layout-devise">
    <header>
      <%= render "shared/flashes" %>
    </header>

    <div class="row">
      <div class="col-sm-8">
        <div class="title-tweeter-left">
          <h3>Tweeter</h3>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="devise-layout-right">
          <%= link_to 'Back', :back, class: "link-grey-devise" %>
          <%= yield %>
        </div>
      </div>
    </div>



  </body>
</html>
